/* chat_interface.css */
.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.pagination-info {
  margin-bottom: 10px;
  color: #888;
}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

.chat-footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #0056b3;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word; /* Ensure long words wrap */
}

.user-message {
  align-self: flex-end; /* Align user's messages to the right */
  background-color: #007bff;
  color: white !important;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
}

.other-message {
  align-self: flex-start; /* Align other messages to the left */
  background-color: #e9e9eb;
  color: black;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
}

.message-text {
  word-wrap: break-word; /* Ensure long words wrap */
  display: inline-block;
}

.message-timestamp {
  font-size: 0.75em;
  color: #888;
  margin-top: 2px;
}

.user-message + .message-timestamp {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.other-message + .message-timestamp {
  align-self: flex-start;
  margin-left: 10px;
}
